.env
__pycache__/
*.py[cod]
db.sqlite3
.venv/
celerybeat-schedule
staticfiles/
node_modules/
.vscode/
.DS_Store
.idea/
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.env
*.env.*
*.pem
*.key
*.crt
*.p12
*.csr
*.der